<div class="sidebar" [class.open]="isOpen">
  <div class="logo-details">
    <div>
      <img class="icon" src="/logo/UNICOM-TIC_LOGO-2048x773.png" alt="" width="160px">
    </div>
    <i class='bx' [ngClass]="isOpen ? 'bx-menu-alt-right' : 'bx-menu'" id="btn" (click)="toggleSidebar()"></i>
  </div>
  <ul class="nav-list">

    <li>
      <a [routerLink]="['/student']">

        <i class='bx bx-check-circle'></i>
        <span class="links_name">Profile</span>
      </a>
      <span class="tooltip">Profile</span>
    </li>
    <li>
      <a href="#" [routerLink]="['/student/attendance']">
        <i class='bx bx-check-circle'></i>
        <span class="links_name">Attendance</span>
      </a>
      <span class="tooltip">Attendance</span>
    </li>
   
    <li>
      <a href="#" [routerLink]="['/student/studentschedule']">
        <i class='bx bx-calendar'></i>
        <span class="links_name">Timetable</span>
      </a>
      <span class="tooltip">Timetable</span>
    </li>
    <li>
      <a href="#" [routerLink]="['/student/notification']">
        <i class='bx bx-bell'></i>
        <span class="links_name">Notifications</span>
      </a>
      <span class="tooltip">Notifications</span>
    </li>
    <li>
      <a href="#" [routerLink]="['/student/feedback']">
        <i class='bx bx-message-dots'></i>
        <span class="links_name">Feedback</span>
      </a>
      <span class="tooltip">Feedback</span>
    </li>
    <li class="logout">
      <div class="logout-details">
        <div class="name_job">

          <div class="name"></div> <!-- Dynamically show the username -->
        </div>
      </div>
      <i class='bx bx-log-out' id="log_out" (click)="logout()"></i>
    </li>
  </ul>
</div>

<section class="home-section" [class.open]="isOpen">
  <div class="scetiondiv">
  <header class="header" id="header">
    <div class="header__container">
      <button class="header__toggle" id="header-toggle" (click)="toggleCollapse()">
        <i class="ri-menu-line"></i>
      </button>
      <div class="nav-icons">
        <button class="header__notification" id="header-toggle" (click)="toggleCollapse()">
          <span class="notification-indicator">1</span>
          <i class="bi bi-bell-fill"></i>
        </button>
        <div class="sidebar__img">
          <img [src]="imageUrl" alt="Profile Image" id="profileImage">
          <span class="status-indicator"></span>
        </div>
      </div>
    </div>
  </header>
  <div class="text">
    <router-outlet></router-outlet>
  </div>
  
</div>
</section>