<div class="container ">
  <div class="row">

    <!-- Class List Section -->
    <div class="class-list-container col-12 col-md-6 mb-4">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="text-primary">CLASS LIST</h2>
      </div>

      <div class="input-group mb-3">
        <input type="text" class="form-control"  placeholder="Enter new class name">
        <button type="button" class="btn btn-primary" (click)="AddClass()">Add Class</button>
      </div>

      <div class="table-responsive class-table">
        <table class="table table-bordered table-hover table-striped align-middle">
          <thead class="table-dark">
            <tr>
              <th>Class Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let class of Classes">
              <td>{{ class.className }}</td>
              <td>
                <div class="d-flex justify-content-center">
                  <button class="btn btn-danger" (click)="DeleteClass(class.id)">
                    <i class="bi bi-x-square"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Subject List Section -->
    <div class="subject-list-container col-12 col-md-6">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="text-primary">SUBJECT LIST</h2>
      </div>

      <div class="input-group mb-3">
        <input type="text" class="form-control"  placeholder="Enter new Subject name">
        <button type="button" class="btn btn-primary" (click)="AddSubject()">Add Subject</button>
      </div>

      <div class="table-responsive subject-table">
        <table class="table table-bordered table-hover table-striped align-middle">
          <thead class="table-dark">
            <tr>
              <th>Subject Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let subject of subjects">
              <td>{{ subject.subjectName }}</td>
              <td>
                <div class="d-flex justify-content-center">
                  <button class="btn btn-danger" (click)="DeleteSubject(subject.id)">
                    <i class="bi bi-x-square"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>